/*---------------------------------------------------------------------------
    Fonts
----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');

/*---------------------------------------------------------------------------
    Variables
-----------------------------------------------------------------------------*/
:root{
    --main-color: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --chartreuse: #cddc39;
    --pastel-pink: #efa2b4;
    --pastel-blue: #aef1ee;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --background-filter-blur: blur(5px);
}

/*---------------------------------------------------------------------------
    Animation keyframes
----------------------------------------------------------------------------*/
.wave{
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
@keyframes wave-animation{
    0% {transform: rotate(0.0deg)}
    10% {transform: rotate(14.0deg)}
    20% {transform: rotate(-8.0deg)}
    30% {transform: rotate(14.0deg)}
    40% {transform: rotate(-4.0deg)}
    50% {transform: rotate(10.0deg)}
    60% {transform: rotate(-0.0deg)}
    100% {transform: rotate(-8deg)}
}


@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes zoomInOut{
    0%,100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
}
@keyframes bounceTop{
    0%,100%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
}
/*---------------------------------------------------------------------------
    Global Styling
----------------------------------------------------------------------------*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, 
    var(--pastel-pink), var(--pastel-blue));
    background-attachment: fixed;

    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    font-size: 16px;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;

    padding: 35px 15px;
}
body .hide-scrolling{
    overflow-y: hidden;
}
/*Adds tinted overlay on background*/
body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--chartreuse);
    z-index: -1;
    opacity: 0.3;
}

a{
    text-decoration: none;
}
h1,h2{
    font-weight: 600;
}
h3,h4,h5,h6{
    font-weight: 500;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
section{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: calc(100vh - 70px);
    border-radius: 30px;
    backdrop-filter: var(--background-filter-blur);
    display: none;
}
section.active{
    display: block;
    animation: fadeIn 0.5s ease-in-out forwards;
}
section.fade-out{
    animation: fadeOut 0.5s ease-in-out forwards;
}

.main{
    max-width: 1200px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    position: relative;
}
.main.fade-out{
    opacity: 0.05;
}
.container{
    padding: 0 40px;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.sec-padding{
    padding: 80px 0;
}
.flex-end{
    justify-content: flex-end;
}

/*---------------------------------------------------------------------------
    Background Circles
----------------------------------------------------------------------------*/
.bg-circles{
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 1200px;
    width: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
}
.bg-circles div{
    position: absolute;
    border-radius: 50%;
}
.bg-circles .circles-1{
    height: 70px;
    width: 70px;
    background-color: var(--blue);
    left: 6%;
    top: 10%;
    opacity: 0.4;
    animation: zoomInOut 9s linear infinite;
}
.bg-circles .circles-2{
    height: 90px;
    width: 90px;
    background-color: var(--main-color);
    left: 30%;
    top: 50%;
    opacity: 0.6;
    animation: bounceTop 6s ease-in-out infinite;
}
.bg-circles .circles-3{
    height: 120px;
    width: 120px;
    background-color: var(--white);
    top: 40%;
    right: -60px;
    opacity: 0.4;
    animation: bounceTop 3s ease-in-out infinite;
}
.bg-circles .circles-4{
    height: 80px;
    width: 80px;
    background-color: var(--orange);
    top: 80%;
    left: -30px;
    opacity: 0.6;
    animation: zoomInOut 9s ease-in-out infinite;
}
/*---------------------------------------------------------------------------
    Section Title
----------------------------------------------------------------------------*/
.section-title{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.section-title h2{
    font-size: 40px;

}
.hidden{
    display: none !important;
}

/*---------------------------------------------------------------------------
    Buttons
----------------------------------------------------------------------------*/
.button{
    line-height: 1.5;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: width 0.3s ease;

}
.button::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
}
.button:hover::before{
    width: 100%;
}
.button:hover{
    color: var(--white);
}

.button-tab{
    font-family: inherit;
    user-select: none;
}


.theme-button{
    line-height: 1.5;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: width 0.3s ease;

}
.theme-button::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
}
.theme-button:hover::before{
    width: 100%;
}
.theme-button:hover{
    color: var(--white);
}

.button-tab{
    font-family: inherit;
    user-select: none;
}

/*---------------------------------------------------------------------------
    Custom Scrollbar
----------------------------------------------------------------------------*/
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

/*---------------------------------------------------------------------------
    Overlay
----------------------------------------------------------------------------*/
.overlay{
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 200;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}
/*---------------------------------------------------------------------------
    Navbar
----------------------------------------------------------------------------*/
.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0 ;
}
.header.active{
    position: fixed;
    top: 35px;
    padding: 20px 15px;
}
.header.active .container{
    max-width: 1200px;
    margin: auto;
}

.header .nav-toggler{
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    z-index: 1;

    transition: opacity 0.5% ease-in-out;
}
.header .nav-toggler .hide{
    opacity: 0;
    transition: none;
}
.header .nav-toggler span{
    height: 2px;
    width: 24px;
    background-color: var(--main-color);
    position: relative;
    transition: background-color 0.3s ease;
}
.header.active .nav-toggler span{
    background-color: transparent;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}

.header .nav-toggler span::before{
    left: 0;
    transform: translateY(-8px);
}
.header.active .nav-toggler span::before{
    transform: rotate(45deg);
}

.header .nav-toggler span::after{
    right: 0;
    transform: translateY(8px);
}
.header.active .nav-toggler span::after{
    transform: rotate(-45deg);
}

.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after{
    width: 50%;
}

/*---------------------------------------------------------------------------
    Navbar Menu
----------------------------------------------------------------------------*/
.header .nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 40px 20px;
    overflow-y: auto;
    visibility: hidden;
}
.header.active .nav{
    visibility: visible;
}

.header .nav-inner{
    min-height: calc(100vh - 70px);
    background-color: #cddc39;
    max-width: 1200px;
    margin: auto;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    background-filter: var(--background-filter-blur);
    padding: 50px 0;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: all 0.5s ease;
}
.header.active .nav-inner{
    opacity: 1;
}

.header .nav-inner ul li{
    text-align: center;
}
.header .nav-inner ul li a{
    font-size: 40px;
    color: var(--blue-dark);
    display: block;
    font-weight: 450;
    padding: 8px 15px;
    transition: color 0.3 ease;
}
.header .nav-inner ul li a:hover{
    color: var(--main-color);
}
/*---------------------------------------------------------------------------
    Landing Section
----------------------------------------------------------------------------*/
.landing{
    padding: 120px 0;
}
.landing.active{
    display: flex;
}

.landing-text,.landing-img{
    width: 50%;
    padding: 15px;
}

.landing-text p{
    font-size: 18px
}
.landing-text h1{
    font-size: 50px;
    text-transform: capitalize;
}
.landing-text h2{
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 30px;
}

.landing-img .img-box{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    border: 8px solid var(--white-alpha-25);
    margin: auto;
}
.landing-img .img-box img{
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}
/*------------------------------------------------------------
    Social Media
-------------------------------------------------------------*/
.contact-items{
    padding: 10px 0 0 20px;
}
.contact-items h3{
    font-size: 20px;
    margin: 0 0 5px;
}
.contact-items .social-media a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    color: var(--main-color);
    border-radius: 50%;
    margin: 6px 15px 0 0;
    transition: all 0.3s ease;
}
.contact-items .social-media a:hover{
    color: var(--white);
    background-color: var(--main-color);
}


/*---------------------------------------------------------------------------
    About Section
----------------------------------------------------------------------------*/
.about-img{
    width: 50%;
    padding: 0 15px;
}
.about-text{
    width: 50%;
    padding: 0 15px;
}
.about-img .img-box{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 8px solid var(--white-alpha-25);
    margin: auto;
}
.about-img .img-box img{
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.about-text h3{
    font-size: 20px;
    margin: 20px 0;
}
.about-text .skills{
    display: flex;
    flex-wrap: wrap;
}
.about-text .skill-item{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 5px 15px;
    margin: 0 10px 10px 0;
    border-radius: 20px;
}

/*** Tabs ***/
.about-tabs{
    margin-top: 20px;
}
.about-tabs .tab-items{
    padding: 2px 0;
    background-color: transparent;
    border: none;
    display: inline-block;
    color: var(--blue-dark);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 0 30px 0 0;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.about-tabs .tab-items:last-child{
    margin: 0;
}
.about-tabs .tab-items::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: var(--blue-dark);
    transition: width 0.3s ease;
}
.about-tabs .tab-items:hover::before{
    width: 100%;
}
.about-tabs .tab-items.active::before{
    width: 100%;
    background-color: var(--main-color);
}
.about-tabs .tab-items.active{
    color: var(--main-color);
    opacity: 1;
    cursor: auto;
}
.about-text .tab-content{
    padding: 40px;
}

/*** Timeline ***/
.about-text .timeline{
    position: relative;
}
.about-text .timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 5px;
    background-color: var(--main-color);
}
.about-text .tab-content{
    padding: 40px 0;
    display: none;
}
.about-text .tab-content.active{
    display: block;
}

.about-text .timeline-item{
    margin-bottom: 30px;
    position: relative;
    padding: 10px 0 0 40px;
}
.about-text .timeline-item::before{
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    background-color: var(--main-color);
    left: 0;
    top: 16px;
    border-radius: 50%;
}
.about-text .timeline-item:last-child{
    margin-bottom: 0;
}

.about-text .timeline-item .date{
    display: block;
    color: var(--main-color);
    font-weight: 400;
    margin: 0 0 5px;
}
.about-text .timeline-item h4{
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 5px;
}
.about-text .timeline-item h5{
    font-size: 15px;
    margin: 0 0 5px;
    font-weight: 600;
}
.about-text .timeline-item h6{
    font-size: 12px;
    margin: 0 0 5px;
    font-weight: 300;
}

.about-text .button{
    margin: 0 15px 15px 0;
}



/*---------------------------------------------------------------------------
    Portfolio Section
----------------------------------------------------------------------------*/
.portfolio-section{
    padding-bottom: 50px;
}
.portfolio-items{
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
}
.portfolio-items-thumbnail{
    padding: 10px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
}
.portfolio-items-thumbnail img{
    width: 100%;
    display: block;
    height: 300px;
    object-fit: cover;
}
.portfolio-items h3{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}
.portfolio-items-details{
    display: none;
}

/*------------------------------------------------------------
    Portfolio popup
-------------------------------------------------------------*/
.portfolio-popup{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    visibility: hidden;
}
.portfolio-popup.open{
    visibility: visible;
    overflow-y: auto;
}

.popup-inner{
    min-height: 100vh;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-content{
    background-color: var(--white-alpha-25);
    padding: 30px;
    border-radius: 30px;
    max-width: 900px;
    width: 100%;
    border: 1px solid var(--white-alpha-40);
    backdrop-filter: var(--background-filter-blur);    
    opacity: 0;
    transform: scale(0.9);
}
.portfolio-popup.open .popup-content{
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease;
}
.popup-header{
    position: relative;
}
.popup-header .button{
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -40px;
    top: -40px;
}
.popup-thumbnail img{
    display: block;
    height: 300px;
    object-fit: cover;

    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 22px -4px var(--blue-dark);
    box-shadow: 6px 6px 22px -4px var(--blue-dark);
}
.popup-header h3{
    font-size: 25px;
    margin: 20px 0 15px;
}
.popup-body .description{
    margin-bottom: 20px;
}
.popup-body .project-info li{
    margin-bottom: 10px;
    font-weight: 700;
}
.popup-body .project-info li span{
    font-weight: 400;
}

/*---------------------------------------------------------------------------
    Responaiveness
----------------------------------------------------------------------------*/
@media(max-width: 991px){
    .container{
        padding: 0;
    }
    .landing-img, .landing-text{
        width: 100%;
    }
    .landing-text{
        text-align: center;
    }
    .landing-img{
        order: -1;
    }

}
@media(max-width: 767px){

}
@media(max-width: 575px){

}