:root{
    --mainColor:#46344e;
    --secColor: #382a3f;
    --thirdColor: rgb(47, 0, 65);

    --boarderColor: #1d1520;

    --mainText: white;
    --secText: #eeeeee;
    --linkText: #c058fc;

    --browserWindowColor:#383737;

    --previewBG: rgb(29,21,32,0.8);
    --previewShadow: #2b202f;
    
}