:root{
    --mainColor:#15202b;
    --secColor: #192734;
    --thirdColor: rgb(21, 27, 59) ;

    --boarderColor: #161914;

    --mainText: rgb(183, 247, 255);
    --secText: #eeeeee;
    --linkText: #15ac9f;

    --navbarColor: #383737;
    --browserWindowColor: #000000;

    --previewBG: rgb(25,39,52,0.8);
    --previewShadow: #111921;

    --postColor: black;

}