:root{
    --mainColor:#606856;
    --secColor: #515a48;
    --thirdColor: rgb(40, 68, 47);

    --boarderColor: #161914;

    --mainText: white;
    --secText: #eeeeee;
    --linkText: #2bc56b;

    --browserWindowColor: #585555;

    --previewBG: rgb(81,90,72,0.8);
    --previewShadow: #2a2f25;
    
}