:root{
    --mainColor:#ffd1c1;
    --secColor: #ffcb98;
    --thirdColor: white;

    --boarderColor: #c1c1c1;

    --mainText: rgb(110, 0, 0);
    --secText: #250000;
    --linkText: #fc6058;

    --navbarColor: white;
    --browserWindowColor: #eaeaea;

    --previewBG: rgba(255, 247, 225, 0.8);
    --previewShadow: #ffecae;

    --postColor: white;
    
}