:root{
    --mainColor:#15202b;
    --secColor: #192734;
    --thirdColor: rgb(21, 27, 59) ;

    --boarderColor: #161914;

    --mainText: white;
    --secText: #eeeeee;
    --linkText: #15ac9f;

    --browserWindowColor: #383737;

    --themeDotBorder: #white;

    --previewBG: rgb(25,39,52,0.8);
    --previewShadow: #111921;

}