@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
*{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    
}

/* Navbar start*/
.nav-bar{
    width: auto;
    top: 10px;
    background-color: var(--mainColor);
}

.nav-bar a{
    float: left;
    display: block;
    color: var(--linkText);
    padding-left: 15px;
}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--boarderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--browserWindowColor);
}

#navigation{
    margin: 0;
    padding: 10px;
}
#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}
#dot-1{background-color: #fc6058;}
#dot-2{background-color: #fec02f;}
#dot-3{background-color: #2aca3e;}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -9px 9px 27px -4px rgba(0,0,0,0.3); 
    box-shadow: -9px 9px 27px -4px rgba(0,0,0,0.3);
}
/* Navbar end */

.page-title{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.welcome-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
}


.art-container{
    position: relative;
    column-count: 4;
    padding: 10px;
}

.art{
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
}
.art:hover img{
    transform: scale(1.1);
}

img{
    width: 100%;
    transition: 0.25s ease-in-out;
}

h4{
    position: absolute;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    background: rgb(163, 80, 115);
    color: white;
    border-radius: 15px;
    opacity: 0;
    z-index: 1;
    transition: 0.25 ease-in-out;
}
.art:hover h4{
    opacity: 0.9;
}

footer{
    background-color: #ffd1c1;
    overflow: auto;
}

/* Screen responsiveness */
@media screen and (max-width:1024px){
    h4{
        font-size: 20px;
    }
}

@media screen and (max-width:768px){
    .art-container{
        column-count: 3;
    }
    h4{
        font-size: 13px;
    }
    .welcome-container{
        width: 340px;
    }
}

@media screen and (max-width:425px){
    .art-container{
        column-count: 2;
    }
    h4{
        font-size: 12px;
    }
    .welcome-container{
        width: 300px;
    }
}

@media screen and (max-width:375px){
    .art-container{
        column-count: 1;
    }
    h4{
        font-size: 14px;
    }
    .welcome-container{
        width: 270px;
    }
}